<div class="card mt-5 shadow-effect">
    <div class="card-body">
        <h4> Leave a Comment</h4>
        <p> You can leave a comment using this form</p>
        <form action="" class="">
            <div class="form-group">
                <label for="" class=""> Name</label>
                <input type="text" class="form-control mb-2" placeholder="Enter your name here">
            </div>
            <div class="form-group">
                <label for="" class=""> Comment</label>
                <textarea name="" id="" rows="10" cols="30" placeholder="Add your comment here" class="form-control mb-3"></textarea>
            </div>
            <button class="btn btn-theme">Add a comment</button>
        </form>
    </div>
</div>