<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center"> About us </h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec congue arcu. Maecenas nisi dolor, lacinia sed nisi et, volutpat efficitur risus. Integer sit amet venenatis augue.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec congue arcu. Maecenas nisi dolor, lacinia sed nisi et, volutpat efficitur risus. Integer sit amet venenatis augue.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec congue arcu. Maecenas nisi dolor, lacinia sed nisi et, volutpat efficitur risus. Integer sit amet venenatis augue.</p>
        <div class="text-center">
            <button class="btn btn-theme btn-sm mt-4"> Back to Home</button>
        </div>
        </div>
    </div>
</section>
