<div class="container">
    <div class="row">
        <div class="col-md-9 mt-5">
           <div class="card shadow-effect">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRak5ZffpN-E9i18wWtw5D78PALrDZjisyyCQ&s" alt="" class="card-img-top img-fluid">
            <div class="card-body">
                <small class="bg-light text-danger text-center"> Design</small>
                <small class="bg-light text-success text-center ms-2"> Featured</small>
                <small class="bg-light text-info text-center ms-2"> Views ~ 100k</small>
                <small class="bg-light text-warning text-center ms-2"> Last Updated- Nov 16, 1996</small>
                <h1 class="mt-3 mb-3"> Do not build blogs in 20205</h1>
                <p class=""> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec congue arcu. Maecenas nisi dolor, lacinia sed nisi et, volutpat efficitur risus. Integer sit amet venenatis augue. Curabitur efficitur fermentum accumsan. Proin in consequat sapien. Etiam et purus et urna consequat rutrum. In nibh felis, porttitor quis erat vel, molestie sodales nulla. Pellentesque nec commodo massa. Duis dictum congue velit at scelerisque. Fusce suscipit leo scelerisque, tincidunt felis ut, facilisis ligula. Suspendisse vitae mollis ligula, ut porta enim. Aliquam ac ante libero. In sit amet commodo enim.

                    Nulla faucibus est auctor consequat auctor. Suspendisse euismod orci ultricies dolor vestibulum accumsan. Curabitur tempor velit ut purus fringilla mollis. Nulla quis libero bibendum augue semper feugiat id ac lorem. Vivamus ullamcorper urna ut metus dapibus, sed faucibus risus cursus. Sed a fermentum quam, nec volutpat diam. Donec eget ante vel elit ullamcorper volutpat id et neque. Morbi sem nunc, pharetra ac sem vitae, consectetur laoreet dui. Donec quis urna accumsan, laoreet arcu nec, tempor nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque molestie odio tortor, nec consequat leo convallis nec.
                    
                    Pellentesque pharetra neque est, eu fringilla metus commodo eu. Nam dolor ante, tempor vitae rhoncus tempus, cursus vitae sapien. Pellentesque placerat dignissim nisl, non fermentum nisi. Ut tempor lorem sit amet ex fermentum sodales. Morbi a augue orci. Phasellus sed cursus libero. Aenean maximus ex non urna imperdiet, a ornare dui ultrices.
                    
                    Aliquam dictum turpis a sapien sollicitudin dignissim. Nulla facilisi. Cras nec scelerisque ipsum, eget egestas erat. Ut ut augue elit. Vestibulum elementum tempor neque nec maximus. Cras purus ipsum, placerat nec risus id, ultrices finibus massa. Nullam quis augue nec odio vulputate convallis ut ut felis. Integer vitae facilisis nunc. Aliquam nec mollis lacus.
                    
                    Curabitur sit amet tincidunt est. Curabitur fringilla consectetur dictum. Proin ante metus, vulputate at euismod egestas, interdum sed metus. Maecenas sed metus in dui vulputate egestas. Nunc imperdiet risus nec risus facilisis malesuada. Donec tristique tellus ac dignissim semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu elementum lectus. Aliquam eleifend erat diam, sit amet blandit justo pretium sed. Proin finibus leo a purus maximus laoreet. Mauris non purus nec odio suscipit aliquet.</p>
            </div>

           </div>
           <app-comment-form></app-comment-form>
           <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3 mt-5">
          <app-post-card></app-post-card>
          <app-post-card></app-post-card>
          <app-post-card></app-post-card>
        </div>
    </div>
</div>