<div class="card shadow-effect">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>SUBSCRIPTION FORM</h3>
            <p class="m-auto sub-text">Please subscribe, not like you have a choice innit</p>
            <form action="" class="form-inline mb-5 mt-4">
                <div class="row g-2 justify-content-center">
                    <div class="col-md-4">
                        <input type="text" class="form-control shadow-effect" placeholder="Your Name">
                    </div>
                    <div class="col-md-4">
                        <input type="email" class="form-control shadow-effect" placeholder="Your Email">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-info w-100 btn-theme">SUBSCRIBE</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
